.text {
    /* Unlimited movies, TV shows, and more. */


width: 1185px;
height: 25px;

/* body */

font-family: 'Suisse Intl';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 156% */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }