.text {


  /* Unlimited movies, TV shows, and more. */


width: 1189px;
height: 70px;

/* h1

H1 Heading for largest titles
*/
font-family: 'Suisse Intl';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 70px;
/* identical to box height, or 109% */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}