.text {
  
    /* Unlimited movies, TV shows, and more. */


width: 1186px;
height: 60px;

/* h2

H2 heading for larger titles
*/
font-family: 'Suisse Intl';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 60px;
/* identical to box height, or 120% */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }