.text {
/* Unlimited movies, TV shows, and more. */


width: 1186px;
height: 42px;

/* h3

heading for large titles
*/
font-family: 'Suisse Intl';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height, or 131% */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }