.text{


width: 1186px;
height: 30px;

/* h5

heading for smaller titles
*/
font-family: 'Suisse Intl';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}